.git
.github
.gitignore
.env
.env.sample
node_modules
*.log
data
build.sh
build-data.sh
run.sh
docker-compose.yml
docker-compose-build.yml
addok-dep-template/
addok-server-standalone/
addok-server-standalone-supervisor/
docker-compose-974.yml
addok-data/